<form (ngSubmit)="addSubject()">
    <div style="display: flex; justify-content: center; width: 100%;">
    <div>
        <label>Name:</label>
        <input [(ngModel)]="newSubject.subjectName" name="name" required>
    </div>
    
        <button type="submit">Add</button>  
    </div>
</form>


<ul>
  <li *ngFor="let subject of subjects">
    <div *ngIf="editingSubjectId !== subject.id">
      {{ subject.id }} - {{ subject.subjectName }}
      <button (click)="startEdit(subject)">Edit</button>
      <button (click)="deleteSubject(subject.id)">Delete</button>
    </div>

    <div *ngIf="editingSubjectId === subject.id">
      {{ subject.id }} -
      <input [(ngModel)]="subject.subjectName" placeholder="Subject Name">
      <button (click)="saveEdit(subject)">Save</button>
      <button (click)="cancelEdit()">Cancel</button>
    </div>
  </li>
</ul>
