<form (ngSubmit)="addStudent()">
    <div style="display: flex; justify-content: center; width: 100%;">
    <div>
        <label>Name:</label>
        <input [(ngModel)]="newStudent.name" name="name" required>
    </div>
    <div>
        <label>DOB:</label> 
        <input [(ngModel)]="newStudent.dob" name="dob" type="date" required>    
    </div>
    <div>
        <label>Address:</label> 
        <input [(ngModel)]="newStudent.address" name="address" required>    
    </div>
    
        <button type="submit">Add</button>  
    </div>
</form>


<ul>
    <li *ngFor="let student of students">
      <div *ngIf="editingStudentId !== student.id">
         <div style="font-size: 20px;"><strong>{{ student.name || 'No name' }}</strong></div>
        <div style="padding-left: 20px;"><strong>Age:</strong> {{ student.age || 'N/A' }}</div>
        <div style="padding-left: 20px;"><strong>DOB:</strong> {{ student.dob | date }}</div>
        <div style="padding-left: 20px;"><strong>Address:</strong> {{ student.address || 'N/A' }}</div>
        <div style="margin-left: 50px;">
            <button (click)="startEdit(student)">Edit</button>
            <button (click)="deleteStudent(student.id)">Delete</button>
        </div>
      </div>
  
      <div *ngIf="editingStudentId === student.id">
        <input [(ngModel)]="student.name" placeholder="Name" name="name">
        <input type="date" [(ngModel)]="student.dob" placeholder="DOB" name="dob">
        <input [(ngModel)]="student.address" placeholder="Address" name="address">
        <button (click)="saveEdit(student)">Save</button>
        <button (click)="cancelEdit()">Cancel</button>
      </div>
    </li>
</ul>
